## DATA

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [92]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [19]:
train_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [19]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
features_all = np.array(train_data.columns)
features_all = np.delete(features_all, np.where(features_all == 'SalePrice'))
print(features_all)

# X_all.dropna(axis=0, subset=['SalePrice'], inplace=True)
# X_all.drop(['SalePrice'], axis=1, inplace=True)

X = train_data[features]
X_all = train_data[features_all]
X_full = X_all.select_dtypes(exclude=['object'])
y = train_data.SalePrice

X_test_all = test_data[features_all]
test_X = X_test_all.select_dtypes(exclude=['object'])

['Id' 'MSSubClass' 'MSZoning' 'LotFrontage' 'LotArea' 'Street' 'Alley'
 'LotShape' 'LandContour' 'Utilities' 'LotConfig' 'LandSlope'
 'Neighborhood' 'Condition1' 'Condition2' 'BldgType' 'HouseStyle'
 'OverallQual' 'OverallCond' 'YearBuilt' 'YearRemodAdd' 'RoofStyle'
 'RoofMatl' 'Exterior1st' 'Exterior2nd' 'MasVnrType' 'MasVnrArea'
 'ExterQual' 'ExterCond' 'Foundation' 'BsmtQual' 'BsmtCond' 'BsmtExposure'
 'BsmtFinType1' 'BsmtFinSF1' 'BsmtFinType2' 'BsmtFinSF2' 'BsmtUnfSF'
 'TotalBsmtSF' 'Heating' 'HeatingQC' 'CentralAir' 'Electrical' '1stFlrSF'
 '2ndFlrSF' 'LowQualFinSF' 'GrLivArea' 'BsmtFullBath' 'BsmtHalfBath'
 'FullBath' 'HalfBath' 'BedroomAbvGr' 'KitchenAbvGr' 'KitchenQual'
 'TotRmsAbvGrd' 'Functional' 'Fireplaces' 'FireplaceQu' 'GarageType'
 'GarageYrBlt' 'GarageFinish' 'GarageCars' 'GarageArea' 'GarageQual'
 'GarageCond' 'PavedDrive' 'WoodDeckSF' 'OpenPorchSF' 'EnclosedPorch'
 '3SsnPorch' 'ScreenPorch' 'PoolArea' 'PoolQC' 'Fence' 'MiscFeature'
 'MiscVal' 'MoSold' 'YrSold' 'SaleType' 'SaleCondition']

In [5]:
X_full.columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold'],
      dtype='object')

In [23]:
test_X.columns

Index(['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual',
       'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea',
       'MiscVal', 'MoSold', 'YrSold'],
      dtype='object')

In [14]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [15]:
X.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000

In [17]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

In [22]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
train_X_all, val_X_all, train_y_all, val_y_all = train_test_split(X_full, y, random_state=1)
train_X_all.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
6,7,20,75.0,10084,8,5,2004,2005,186.0,1369,...,636,255,57,0,0,0,0,0,8,2007
807,808,70,144.0,21384,5,6,1923,2004,0.0,1309,...,528,0,312,0,0,0,0,0,5,2009
955,956,90,82.0,7136,6,6,1946,1950,423.0,484,...,492,0,0,0,0,0,0,0,8,2007
1040,1041,20,88.0,13125,5,4,1957,2000,67.0,168,...,484,0,0,0,0,0,0,0,1,2006
701,702,20,80.0,9600,7,5,1969,1969,168.0,0,...,528,0,0,0,0,0,0,0,7,2006

## CATEGORICAL VALUES

### Drop

In [ ]:
#

### Ordinal encoder

In [ ]:
#

### One-hot encoding

In [ ]:
#

## DEALING WITH MISSING VALUES

In [18]:
print(train_X_all.shape)
missing_val_count_by_column = (train_X_all.isnull().sum())
infs_val = (train_X_all.isin([np.inf,-np.inf]).sum())
print("\nMissing values:")
print(missing_val_count_by_column[missing_val_count_by_column > 0])
print("\nInfinity values:")
print(infs_val[infs_val > 0])

(1095, 37)

Missing values:
LotFrontage    200
MasVnrArea       7
GarageYrBlt     54
dtype: int64

Infinity values:
Series([], dtype: int64)

In [20]:
print(test_X.shape)
missing_val_count_by_column = (test_X.isnull().sum())
infs_val = (test_X.isin([np.inf,-np.inf]).sum())
print("\nMissing values:")
print(missing_val_count_by_column[missing_val_count_by_column > 0])
print("\nInfinity values:")
print(infs_val[infs_val > 0])

(1459, 37)

Missing values:
LotFrontage     227
MasVnrArea       15
BsmtFinSF1        1
BsmtFinSF2        1
BsmtUnfSF         1
TotalBsmtSF       1
BsmtFullBath      2
BsmtHalfBath      2
GarageYrBlt      78
GarageCars        1
GarageArea        1
dtype: int64

Infinity values:
Series([], dtype: int64)

In [33]:
missing_val_col_train = [col for col in train_X_all if train_X_all[col].isnull().any()]
missing_val_col_test = [col for col in test_X if test_X[col].isnull().any()]

reduced_train_X = train_X_all.drop(missing_val_col_train, axis=1)
reduced_val_X = val_X_all.drop(missing_val_col_train, axis=1)
reduced_test_X = test_X.drop(missing_val_col_test, axis=1)

reduced_train_X.head()

,Id,MSSubClass,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
6,7,20,10084,8,5,2004,2005,1369,0,317,...,636,255,57,0,0,0,0,0,8,2007
807,808,70,21384,5,6,1923,2004,1309,0,15,...,528,0,312,0,0,0,0,0,5,2009
955,956,90,7136,6,6,1946,1950,484,0,495,...,492,0,0,0,0,0,0,0,8,2007
1040,1041,20,13125,5,4,1957,2000,168,682,284,...,484,0,0,0,0,0,0,0,1,2006
701,702,20,9600,7,5,1969,1969,0,0,1164,...,528,0,0,0,0,0,0,0,7,2006

In [26]:
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer()
impulted_train_X = pd.DataFrame(my_imputer.fit_transform(train_X_all))
impulted_val_X = pd.DataFrame(my_imputer.transform(val_X_all))
impulted_test_X = pd.DataFrame(my_imputer.transform(test_X))

impulted_test_X.columns = train_X_all.columns
impulted_val_X.columns = val_X_all.columns
impulted_test_X.columns = test_X.columns

impulted_test_X.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1461.0,20.0,80.0,11622.0,5.0,6.0,1961.0,1961.0,0.0,468.0,...,730.0,140.0,0.0,0.0,0.0,120.0,0.0,0.0,6.0,2010.0
1,1462.0,20.0,81.0,14267.0,6.0,6.0,1958.0,1958.0,108.0,923.0,...,312.0,393.0,36.0,0.0,0.0,0.0,0.0,12500.0,6.0,2010.0
2,1463.0,60.0,74.0,13830.0,5.0,5.0,1997.0,1998.0,0.0,791.0,...,482.0,212.0,34.0,0.0,0.0,0.0,0.0,0.0,3.0,2010.0
3,1464.0,60.0,78.0,9978.0,6.0,6.0,1998.0,1998.0,20.0,602.0,...,470.0,360.0,36.0,0.0,0.0,0.0,0.0,0.0,6.0,2010.0
4,1465.0,120.0,43.0,5005.0,8.0,5.0,1992.0,1992.0,0.0,263.0,...,506.0,0.0,82.0,0.0,0.0,144.0,0.0,0.0,1.0,2010.0

## MODELS

In [90]:
random_forrest_model = RandomForestRegressor(max_leaf_nodes=610)
random_forrest_model.fit(train_X, train_y)
rf_val_predictions = random_forrest_model.predict(val_X)
rf_val_mae = mean_absolute_error(rf_val_predictions, val_y)

print("Validation MAE for Random Forest Model: {:,.2f}".format(rf_val_mae))

Validation MAE for Random Forest Model: 21,981.69

In [35]:
random_forrest_model_all_red = RandomForestRegressor(max_leaf_nodes=610)
random_forrest_model_all_red.fit(reduced_train_X , train_y_all)
rf_val_predictions_all = random_forrest_model_all_red.predict(reduced_val_X)
rf_val_mae_all = mean_absolute_error(rf_val_predictions_all, val_y_all)

print("Validation MAE for Random Forest Model: {:,.2f}".format(rf_val_mae_all))

Validation MAE for Random Forest Model: 16,590.19

In [36]:
random_forrest_model_all = RandomForestRegressor(max_leaf_nodes=610)
random_forrest_model_all.fit(impulted_train_X , train_y_all)
rf_val_predictions_all = random_forrest_model_all.predict(impulted_val_X)
rf_val_mae_all = mean_absolute_error(rf_val_predictions_all, val_y_all)

print("Validation MAE for Random Forest Model: {:,.2f}".format(rf_val_mae_all))

Validation MAE for Random Forest Model: 16,933.72

c:\Users\jirip\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

In [67]:

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    fn_model = RandomForestRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    fn_model.fit(train_X, train_y)
    preds_val_fn = fn_model.predict(val_X)
    mae_fn = mean_absolute_error(val_y, preds_val_fn)
    return(mae_fn)

# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 550, 610, 1000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  31441
Max leaf nodes: 50  		 Mean Absolute Error:  22929
Max leaf nodes: 500  		 Mean Absolute Error:  22143
Max leaf nodes: 550  		 Mean Absolute Error:  22138
Max leaf nodes: 610  		 Mean Absolute Error:  22137
Max leaf nodes: 1000  		 Mean Absolute Error:  22140

In [39]:
model = random_forrest_model_all
final_X_test = impulted_test_X
preds_test = model.predict(final_X_test)
preds_test

c:\Users\jirip\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestRegressor was fitted without feature names
  warnings.warn(

array([128527.41428571, 156325.41666667, 179499.6       , ...,
       163586.09      , 120157.03857143, 237731.42216667])

In [40]:
# Save test predictions to file
output = pd.DataFrame({'Id': X_test.index,
                       'SalePrice': preds_test})
output.to_csv('submission.csv', index=False)